{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coins</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">

    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/jquery-ui.css' %} " rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/owl.carousel.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/fotorama.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/changes.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/coins.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/images/favicon.png' %}" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="main">
        <!-- HEADER START -->
        <header class="navbar navbar-custom" id="header">
            <div class="header-middle">
                <div class="container">
                    <div class="header-inner">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="navbar-header float-none-sm">
                                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle"
                                        type="button"><i class="fa fa-bars"></i></button>
                                    <a class="navbar-brand page-scroll" href="/">
                                        <img class="logo" src="{% static 'assets/images/logo.png' %}">
                                    </a>
                                </div>
                            </div>
                            <!--PayUMOneyCOde-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="container">
                    <div id="menu" class="navbar-collapse collapse left-side">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="level"><a href="/" class="page-scroll">Home</a></li>
                            <li class="level"><a href="about" class="page-scroll">About Us</a></li>
                            <li class="level">
                                <span class="opener plus"></span>
                                <a href="jewellery" class="page-scroll">Jewellery</a>
                                <div class="megamenu mobile-sub-menu">
                                    <div class="megamenu-inner-top">
                                        <ul class="sub-menu-level1">
                                            <li class="level2">
                                                <ul class="sub-menu-level2 ">
                                                    <li class="level3"><a href="gold">Gold</a></li>
                                                    <li class="level3"><a href="diamond">Diamond</a></li>
                                                    <li class="level3"><a href="javascript:void(0);">Solitaire</a></li>
                                                    <li class="level3"><a href="platinum">Platinum</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="level"><a href="coins" class="page-scroll">Coins</a></li>
                            <li class="level"><a href="gemstones" class="page-scroll">Gemstones</a></li>
                            <li class="level"><a href="gifts" class="page-scroll">Corporate Gifts</a></li>
                            <li class="level"><a
                                    href="https://www.payumoney.com/paybypayumoney/#/88EB317649315EA26D714337FF19083F"
                                    class="page-scroll">Payment</a></li>
                            <li class="level"><a href="contact" class="page-scroll">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- BANNER STRAT -->
        <div class="banner inner-banner">
            <div class="container">
                <section class="banner-detail align-center">
                    <h1 class="banner-title"><span> COINS </span>RJ Jewels</h1>
                </section>
            </div>
        </div>
        <!-- BANNER END -->
        <!--Gallery-->
        <br>
        <section class="pb-95">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-listing">
                            <div class="row mlr_-20">
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div style="text-align:center">
                                            <img src="{% static 'assets/images/gifts/1.jpg' %}"><br>
                                            <span class="productNameH2">Silver Coco Rectangle Box</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/2.jpg' %}"><br>
                                            <span class="productNameH2">Gold Coco Rectangle Box</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/3.jpg' %}"><br>
                                            <span class="productNameH2">Rose Gold Coco Rectangle Box</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/4.jpg' %}"><br>
                                            <span class="productNameH2">Lotus Gold Round - 5 gm</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/5.jpg' %}"><br>
                                            <span class="productNameH2">Silver Treasure Box for wedding</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/6.jpg' %}"><br>
                                            <span class="productNameH2">Gold Treasure Box</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/7.jpg' %}"><br>
                                            <span class="productNameH2">Rose Gold Treasure Box</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/8.jpg' %}"><br>
                                            <span class="productNameH2">Hexagonal Tray with Handle & Feet</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mlr_-20">
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/9.jpg' %}"><br>
                                            <span class="productNameH2">Square Tray with Bead Feet (S)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/10.jpg' %}"><br>
                                            <span class="productNameH2">Square Tray with Bead Feet (L)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/11.jpg' %}"><br>
                                            <span class="productNameH2">Rectangle Enamel Tray (S)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/12.jpg' %}"><br>
                                            <span class="productNameH2">Rectangle Enamel Tray (L)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/13.jpg' %}"><br>
                                            <span class="productNameH2">Family of 3 Servers</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/14.jpg' %}"><br>
                                            <span class="productNameH2">Set of 2 Servers (Big)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/15.jpg' %}"><br>
                                            <span class="productNameH2">Sugar Pot (Golden)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/16.jpg' %}"><br>
                                            <span class="productNameH2">Silver Leaf Platter</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mlr_-20">
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/17.jpg' %}"><br>
                                            <span class="productNameH2">Golden Leaf Platter</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/18.jpg' %}"><br>
                                            <span class="productNameH2">Set of 2 Cups (Silver)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/19.jpg' %}"><br>
                                            <span class="productNameH2">Set of 2 Cups (Golden)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/20.jpg' %}"><br>
                                            <span class="productNameH2">Golden Round Tray (8 Inch)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/21.jpg' %}"><br>
                                            <span class="productNameH2">Golden Round Tray (10 Inch)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/22.jpg' %}"><br>
                                            <span class="productNameH2">Golden Square Tray (8 Inch)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/23.jpg' %}"><br>
                                            <span class="productNameH2">Golden Square Tray (10 Inch)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/24.jpg' %}"><br>
                                            <span class="productNameH2">Golden Square Tray (12 Inch)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/25.jpg' %}"><br>
                                            <span class="productNameH2">Oval Shape Platter (Golden)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/26.jpg' %}"><br>
                                            <span class="productNameH2">Basket With Glass Bowl (Luxury Box Packing)</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/27.jpg' %}"><br>
                                            <span class="productNameH2">Cream Enamel Basket</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/28.jpg' %}"><br>
                                            <span class="productNameH2">Pierced Jewellery Box</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/29.jpg' %}"><br>
                                            <span class="productNameH2">Designer Fruit Platter</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/30.jpg' %}"><br>
                                            <span class="productNameH2">Designer Dry Fruit Platter</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/31.jpg' %}"><br>
                                            <span class="productNameH2">Designer Round Bowl</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/32.jpg' %}"><br>
                                            <span class="productNameH2">Thaal with 6 Katori</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/33.jpg' %}"><br>
                                            <span class="productNameH2">Shimmer Candle Stand</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/34.jpg' %}"><br>
                                            <span class="productNameH2">Set of 2 Gold Glasses</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/35.jpg' %}"><br>
                                            <span class="productNameH2">Set of 6 Gold Glasses</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/36.jpg' %}"><br>
                                            <span class="productNameH2">Set of 2 Tumbler Gold Glasses</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/37.jpg' %}"><br>
                                            <span class="productNameH2">Set of 6 Tumbler Gold Glasses</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/38.jpg' %}"><br>
                                            <span class="productNameH2">Set of 2 Platinum Gold Glasses</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/39.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/40.jpg' %}"><br>
                                            <span class="productNameH2">Small Ganesha White + Matt (H-10 cm)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/41.jpg' %}"><br>
                                            <span class="productNameH2">Small Ganesha Colored</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/42.jpg' %}"><br>
                                            <span class="productNameH2">Small Ganesha Gloss + Color (H-10 cm)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/43.jpg' %}"><br>
                                            <span class="productNameH2">Small Ganesha Gloss + Matt (H-10 cm)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/44.jpg' %}"><br>
                                            <span class="productNameH2">Puja Thali(Ganesha +tea light + 2 katori+agarbati stand</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/45.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/46.jpg' %}"><br>
                                            <span class="productNameH2">Big Round Tray with Handle with 3 sugarpot different colour</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/47.jpg' %}"><br>
                                            <span class="productNameH2">2 in 1 Golden DryFruit Box</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/48.jpg' %}"><br>
                                            <span class="productNameH2">Rose Gold Boxes 3 Sizes</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/49.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/50.jpg' %}"><br>
                                            <span class="productNameH2">Pearl Jewellery Box (S)</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/51.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/52.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/53.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/54.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/55.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/56.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/57.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/58.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/59.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/60.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/61.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/62.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/63.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/64.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/65.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/66.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/67.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/gifts/68.jpg' %}"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Fotter Start-->
        <div class="footer">
            <div class="container">
                <div class="footer-inner">
                    <div class="footer-top">
                        <div class="row">
                            <div class="col-md-4 f-col">
                                <div class="footer-static-block">
                                    <span class="opener plus"></span>
                                    <div class="f-logo">
                                        <a href="/" class="">
                                            <img src="{% static 'assets/images/logo.png' %}" width="145px"
                                                alt="Pioneer">
                                        </a>
                                    </div>
                                    <ul class="footer-block-contant address-footer">
                                        <li class="item">
                                            <i class="fa fa-home"></i>
                                            <p>R J Jewellers, Shop No 56-57, Gurbaksh Plaza, Jagat Farm, Sector Gamma
                                                1st, Greater Noida. U.P. 201310</p>
                                        </li>
                                        <li class="item">
                                            <i class="fa fa-envelope"></i>
                                            <p>
                                                <a
                                                    href="mailto:contact.rjjewellers@gmail.com">contact.rjjewellers@gmail.com</a>
                                            </p>
                                        </li>
                                        <li class="item">
                                            <i class="fa fa-phone"></i>
                                            <p>Mobile / Watsapp – 9871333914, Landline – 0120-4290400</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-4 f-col">
                                        <div class="footer-static-block">
                                            <span class="opener plus"></span>
                                            <h3 class="title"><span></span>Why Buy</h3>
                                            <ul class="footer-block-contant link">
                                                <li><a href="diamond">Diamond</a></li>
                                                <li><a href="gold">Gold</a></li>
                                                <li><a>Kundan</a></li>
                                                <li><a>Polki</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 f-col">
                                        <div class="footer-static-block">
                                            <span class="opener plus"></span>
                                            <h3 class="title"><span></span>Quick Link</h3>
                                            <ul class="footer-block-contant link">
                                                <li><a href="/">Home</a></li>
                                                <li><a href="about">About Us</a></li>
                                                <li><a>Media</a></li>
                                                <li><a href="contact">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 f-col">
                                        <div class="footer-static-block">
                                            <span class="opener plus"></span>
                                            <h3 class="title"><span></span>Company Overview</h3>
                                            <div class="footer-block-contant">
                                                <p>We are the first 100% Hallmarked Jewellery Showroom in Greater Noida.
                                                    Highly skilled craftsmen create our products along with stringent
                                                    quality control measures which creates that perfection in the
                                                    products we sell.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="footer-middle center-sm">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="site-link mt-30 ">
                                    <div class="footer_social pt-xs-15 center-xs mt-xs-15">
                                        <ul class="social-icon">
                                            <li><a title="Facebook" class="facebook"><i class="fa fa-facebook"> </i></a>
                                            </li>
                                            <li><a title="Twitter" class="twitter"><i class="fa fa-twitter"> </i></a>
                                            </li>
                                            <li><a title="Linkedin" class="linkedin"><i class="fa fa-linkedin"> </i></a>
                                            </li>
                                            <li><a title="RSS" class="rss"><i class="fa fa-rss"> </i></a></li>
                                            <li><a title="Pinterest" class="pinterest"><i class="fa fa-pinterest">
                                                    </i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 border-l">
                                <div class="newsletter mtb-30">
                                    <div class="newsletter-inner">
                                        <div class="newsletter-title">
                                            <h3 class="title"><span></span>Subscribe Emails</h3>
                                        </div>
                                        <form>
                                            <div class="newsletter-box">
                                                <form method="post" novalidate>
                                                    {% csrf_token %}
                                                    <input type="email" placeholder="Email Here...">
                                                    <button title="Subscribe" class="btn-color">Subscribe</button>
                                                </form>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="footer-bottom mtb-30">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="copy-right align-center">© 2020 All Rights Reserved.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-top">
            <div id="scrollup"></div>
        </div>
        <!-- FOOTER END -->
    </div>
    <script src="{% static 'assets/js/jquery-1.12.3.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-ui.js' %}"></script>
    <script src="{% static 'assets/js/fotorama.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/coins.js' %}"></script>
</body>

</html>