{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coins</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">

    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/jquery-ui.css' %} " rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/owl.carousel.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/fotorama.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/changes.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/coins.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/images/favicon.png' %}" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="main">
        <!-- HEADER START -->
        <header class="navbar navbar-custom" id="header">
            <div class="header-middle">
                <div class="container">
                    <div class="header-inner">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="navbar-header float-none-sm">
                                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle"
                                        type="button"><i class="fa fa-bars"></i></button>
                                    <a class="navbar-brand page-scroll" href="/">
                                        <img class="logo" src="{% static 'assets/images/logo.png' %}">
                                    </a>
                                </div>
                            </div>
                            <!--PayUMOneyCOde-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="container">
                    <div id="menu" class="navbar-collapse collapse left-side">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="level"><a href="/" class="page-scroll">Home</a></li>
                            <li class="level"><a href="about" class="page-scroll">About Us</a></li>
                            <li class="level">
                                <span class="opener plus"></span>
                                <a href="jewellery" class="page-scroll">Jewellery</a>
                                <div class="megamenu mobile-sub-menu">
                                    <div class="megamenu-inner-top">
                                        <ul class="sub-menu-level1">
                                            <li class="level2">
                                                <ul class="sub-menu-level2 ">
                                                    <li class="level3"><a href="gold">Gold</a></li>
                                                    <li class="level3"><a href="diamond">Diamond</a></li>
                                                    <li class="level3"><a href="javascript:void(0);">Solitaire</a></li>
                                                    <li class="level3"><a href="platinum">Platinum</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="level"><a href="coins" class="page-scroll">Coins</a></li>
                            <li class="level"><a href="gemstones" class="page-scroll">Gemstones</a></li>
                            <li class="level"><a href="gifts" class="page-scroll">Corporate Gifts</a></li>
                            <li class="level"><a
                                    href="https://www.payumoney.com/paybypayumoney/#/88EB317649315EA26D714337FF19083F"
                                    class="page-scroll">Payment</a></li>
                            <li class="level"><a href="contact" class="page-scroll">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- BANNER STRAT -->
        <div class="banner inner-banner">
            <div class="container">
                <section class="banner-detail align-center">
                    <h1 class="banner-title"><span> COINS </span>RJ Jewels</h1>
                </section>
            </div>
        </div>
        <!-- BANNER END -->
        <!--Gallery-->
        <br>
        <section class="pb-95">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-listing">
                            <div class="row mlr_-20">
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div style="text-align:center">
                                            <img src="{% static 'assets/images/coins/1.jpg' %}" alt="Alexandrite"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Sovereign</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/2.jpg' %}"
                                                alt="Alexandrite Cats Eye" class="gemstones_img"><br>
                                            <span class="productNameH2">Lotus Gold Round - 1 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/3.jpg' %}" alt="Amber"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Lotus Gold Round - 2 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/4.jpg' %}" alt="Amethyst"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Lotus Gold Round - 5 gm</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/5.jpg' %}" alt="Amethyst Cabochon"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Lotus Gold Round - 10 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/6.jpg' %}" alt="Ametrine"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Lotus Gold Ingot - 20 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/7.jpg' %}" alt="Ammolite"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Lotus Gold Ingot - 50 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/8.jpg' %}" alt="Andesine"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Lotus Gold Ingot - 100 gm</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mlr_-20">
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/9.jpg' %}" alt="Apatite"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Lotus Silver Round - 10 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/10.jpg' %}" alt="Apatite Cats Eye"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Lotus Silver Round - 20 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/11.jpg' %}" alt="Aquamarine"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Lotus Silver Ingot - 20 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/12.jpg' %}" alt="Australian Opal"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Lotus Silver Ingot - 100 gm</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/13.jpg' %}" alt="Aventurine"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Lotus Silver Ingot - 500 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/14.jpg' %}" alt="Azurite"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Lotus Silver Ingot - 1000 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/15.jpg' %}" alt="Baltic Amber"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Laxmi Ganesha in High Relief - 10 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/16.jpg' %}" alt="Basra Pearl"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Laxmi Ganesha High Relief - 20 gm</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mlr_-20">
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/17.jpg' %}" alt="Bery"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Laxmi Ganesha High Relief - 50 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/18.jpg' %}" alt="Bi Color Sapphire"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Laxmi Ganesha High Relief - 100 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/19.jpg' %}" alt="Bixbite"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Laxmi Ganesha High Relief - 250 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/20.jpg' %}" alt="Black Onyx"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Banyan Tree - 10 gm</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/21.jpg' %}" alt="Black Opal"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Banyan Tree - 20 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/22.jpg'%}" alt="Black Pearl"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Banyan Tree - 50 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/23.jpg' %}" alt="Black Tourmaline"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Banyan Tree - 100 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/24.jpg' %} " alt="Blood Stone"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Banyan Tree - 250 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/25.jpg' %}" alt="Black Tourmaline"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Stylized Laxmi Ganesh - 50 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/26.jpg' %}" alt="Black Tourmaline"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Stylized Laxmi Ganesh 100 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/27.jpg' %}" alt="Black Tourmaline"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Stylized Laxmi Ganesh 250 gm</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/28.jpg' %}" alt="Black Tourmaline"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Radha Krishna Oval</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/29.jpg' %}" alt="Black Tourmaline"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Gift for a Newborn</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/30.jpg' %}" alt="Black Tourmaline"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Gift for a Newborn</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/31.jpg' %}" alt="Black Tourmaline"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Ganesh Square</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <div>
                                            <img src="{% static 'assets/images/coins/32.jpg' %}" alt="Black Tourmaline"
                                                class="gemstones_img"><br>
                                            <span class="productNameH2">Radha Krishna Square</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Fotter Start-->
        <div class="footer">
            <div class="container">
                <div class="footer-inner">
                    <div class="footer-top">
                        <div class="row">
                            <div class="col-md-4 f-col">
                                <div class="footer-static-block">
                                    <span class="opener plus"></span>
                                    <div class="f-logo">
                                        <a href="/" class="">
                                            <img src="{% static 'assets/images/logo.png' %}" width="145px"
                                                alt="Pioneer">
                                        </a>
                                    </div>
                                    <ul class="footer-block-contant address-footer">
                                        <li class="item">
                                            <i class="fa fa-home"></i>
                                            <p>R J Jewellers, Shop No 56-57, Gurbaksh Plaza, Jagat Farm, Sector Gamma
                                                1st, Greater Noida. U.P. 201310</p>
                                        </li>
                                        <li class="item">
                                            <i class="fa fa-envelope"></i>
                                            <p>
                                                <a
                                                    href="mailto:contact.rjjewellers@gmail.com">contact.rjjewellers@gmail.com</a>
                                            </p>
                                        </li>
                                        <li class="item">
                                            <i class="fa fa-phone"></i>
                                            <p>Mobile / Watsapp – 9871333914, Landline – 0120-4290400</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-4 f-col">
                                        <div class="footer-static-block">
                                            <span class="opener plus"></span>
                                            <h3 class="title"><span></span>Why Buy</h3>
                                            <ul class="footer-block-contant link">
                                                <li><a href="diamond">Diamond</a></li>
                                                <li><a href="gold">Gold</a></li>
                                                <li><a>Kundan</a></li>
                                                <li><a>Polki</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 f-col">
                                        <div class="footer-static-block">
                                            <span class="opener plus"></span>
                                            <h3 class="title"><span></span>Quick Link</h3>
                                            <ul class="footer-block-contant link">
                                                <li><a href="/">Home</a></li>
                                                <li><a href="about">About Us</a></li>
                                                <li><a>Media</a></li>
                                                <li><a href="contact">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4 f-col">
                                        <div class="footer-static-block">
                                            <span class="opener plus"></span>
                                            <h3 class="title"><span></span>Company Overview</h3>
                                            <div class="footer-block-contant">
                                                <p>We are the first 100% Hallmarked Jewellery Showroom in Greater Noida.
                                                    Highly skilled craftsmen create our products along with stringent
                                                    quality control measures which creates that perfection in the
                                                    products we sell.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="footer-middle center-sm">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="site-link mt-30 ">
                                    <div class="footer_social pt-xs-15 center-xs mt-xs-15">
                                        <ul class="social-icon">
                                            <li><a title="Facebook" class="facebook"><i class="fa fa-facebook"> </i></a>
                                            </li>
                                            <li><a title="Twitter" class="twitter"><i class="fa fa-twitter"> </i></a>
                                            </li>
                                            <li><a title="Linkedin" class="linkedin"><i class="fa fa-linkedin"> </i></a>
                                            </li>
                                            <li><a title="RSS" class="rss"><i class="fa fa-rss"> </i></a></li>
                                            <li><a title="Pinterest" class="pinterest"><i class="fa fa-pinterest">
                                                    </i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 border-l">
                                <div class="newsletter mtb-30">
                                    <div class="newsletter-inner">
                                        <div class="newsletter-title">
                                            <h3 class="title"><span></span>Subscribe Emails</h3>
                                        </div>
                                        <form>
                                            <div class="newsletter-box">
                                                <form method="post" novalidate>
                                                    {% csrf_token %}
                                                    <input type="email" placeholder="Email Here...">
                                                    <button title="Subscribe" class="btn-color">Subscribe</button>
                                                </form>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="footer-bottom mtb-30">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="copy-right align-center">© 2020 All Rights Reserved.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-top">
            <div id="scrollup"></div>
        </div>
        <!-- FOOTER END -->
    </div>
    <script src="{% static 'assets/js/jquery-1.12.3.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-ui.js' %}"></script>
    <script src="{% static 'assets/js/fotorama.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/coins.js' %}"></script>
</body>

</html>