{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic Page Needs
  ================================================== -->
<meta charset="utf-8">
<title>RJ Jewels</title>
<!-- SEO Meta
  ================================================== -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="">
<meta name="keywords" content="">

<!-- Mobile Specific Metas
  ================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- CSS
  ================================================== -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">

<link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/jquery-ui.css' %} " rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/owl.carousel.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/fotorama.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'assets/images/favicon.png' %}" rel="stylesheet" type="text/css" />


</head>
<body>

<div class="main"> 
  <!-- HEADER START -->
  <header class="navbar navbar-custom" id="header">
  <div class="header-middle">
    <div class="container">
    <div class="header-inner">
      <div class="row">
       <div class="col-md-4">
      </div>
      <div class="col-md-4">
        <div class="navbar-header float-none-sm">
        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"><i class="fa fa-bars"></i></button>
        <a class="navbar-brand page-scroll" href="/">
          <img class="logo" src="{% static 'assets/images/logo.png' %}" >
        </a> 
        </div>
      </div>
       
      </div>
    </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
    <div id="menu" class="navbar-collapse collapse left-side" >
     
      <ul class="nav navbar-nav navbar-left">
      <li class="level"><a href="/" class="page-scroll">Home</a></li>
      <li class="level"><a href="about" class="page-scroll">About Us</a></li>
      
      <li class="level">
        <span class="opener plus"></span>
        <a href="jewellery" class="page-scroll">Jewellery</a>
        <div class="megamenu mobile-sub-menu">
                      <div class="megamenu-inner-top">
                        <ul class="sub-menu-level1">
                          <li class="level2">
                              <ul class="sub-menu-level2 ">
                               <li class="level3"><a href="gold">Gold</a></li>
              <li class="level3"><a href="diamond">Diamond</a></li>
              <li class="level3"><a href="javascript:void(0);">Solitaire</a></li>
              <li class="level3"><a href="platinum">Platinum</a></li>
                              </ul>
                           </li>
                        </ul>
                      </div>
                 </div>  
        
      </li>
      
      <li class="level"><a href="coins" class="page-scroll">Coins</a></li>
      <li class="level"><a href="gemstones" class="page-scroll">Gemstones</a></li>
      <li class="level"><a href="gifts" class="page-scroll">Corporate Gifts</a></li>
      <li class="level"><a href="https://www.payumoney.com/paybypayumoney/#/88EB317649315EA26D714337FF19083F" class="page-scroll">Payment</a></li>
      <li class="level"><a href="contact" class="page-scroll">Contact Us</a></li>
      </ul>
      
    </div>
    </div>
  </div>
  </header>
  <!-- HEADER END --> 


<!-- BANNER STRAT -->
<div class="banner inner-banner">
<div class="container">
  <section class="banner-detail align-center">
      <h1 class="banner-title"><span> Contact Us </span>RJ Jewels</h1>
  </section>
</div>
</div>
<!-- BANNER END --> 

<!-- Bread Crumb STRAT -->
<div class="container">
<div class="bread-crumb mtb-30 center-xs">
  <div class="page-title">Contact</div>
  <div class="bread-crumb-inner right-side float-none-xs">
    <ul>
      <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
      <li><span>Contact</span></li>
    </ul>
  </div>
</div>
</div>
<!-- Bread Crumb END --> 

<!-- CONTAIN START ptb-95-->
<section>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="map">
        <div class="map-part">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3506.953812499685!2d77.49752831503281!3d28.480937582477793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cea6e8bc897d7%3A0x534360c027b5d6f4!2sR.J.Jewellers!5e0!3m2!1sen!2sin!4v1590583546453!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</div>
</section>
<section class="pt-95 client-main align-center">
<div class="container">
  <div class="contact-info">
    <div class="row m-0">
      <div class="col-sm-4 p-0">
        <div class="contact-box">
          <div class="contact-icon contact-phone-icon"></div>
          <span><b>Tel</b></span>
          <p>0120-4290400 / 9871333914</p>
        </div>
      </div>
      <div class="col-sm-4 p-0">
        <div class="contact-box">
          <div class="contact-icon contact-mail-icon"></div>
          <span><b>Mail</b></span>
          <p>contact.rjjewellers@gmail.com </p>
        </div>
      </div>
      <div class="col-sm-4 p-0">
        <div class="contact-box">
          <div class="contact-icon contact-open-icon"></div>
          <span><b>Open</b></span>
          <p>Mon – Sat: 10:00 – 17:00</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<section class="ptb-95">
 <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="heading-part align-center mb-40">
        <h2 class="main_title">Leave a message!</h2>
      </div>
    </div>
  </div>
  <div class="main-form">
    <div class="row">
      <form action="mailto:contact.rjjewellers@gmail.com" method="POST" name="contactform" enctype=”multipart/form-data”>
        
        <div class="col-sm-4 mb-30">
          <input type="text" required placeholder="Name" name="name">
        </div>
        <div class="col-sm-4 mb-30">
          <input type="email" required placeholder="Email" name="email">
        </div>
        <div class="col-sm-4 mb-30">
          <input type="text" required placeholder="Website" name="website">
        </div>
        <div class="col-xs-12 mb-30">
          <textarea required placeholder="Message" rows="3" cols="30" name="message"></textarea>
        </div>
        <div class="col-xs-12">
          <div class="align-center">
            <button type="submit" name="submit" class="btn-black">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
 </div>
</section>
<!-- CONTAINER END --> 

    <!-- FOOTER START -->
  <div class="footer">
  <div class="container">
    <div class="footer-inner">
    <div class="footer-top">
      <div class="row">
      <div class="col-md-4 f-col">
        <div class="footer-static-block">
        <span class="opener plus"></span>
        <div class="f-logo">
          <a href="/" class="">
          <img src="% static 'assets/images/logo.png' %}" width="145px" alt="Pioneer">
          </a>
        </div>
        <ul class="footer-block-contant address-footer">
          <li class="item">
            <i class="fa fa-home"></i>
          <p>R J Jewellers, Shop No 56-57, Gurbaksh Plaza, Jagat Farm, Sector Gamma 1st, Greater Noida. U.P. 201310</p>
          </li>
          <li class="item">
          <i class="fa fa-envelope"></i>
          <p>
            <a href="mailto:contact.rjjewellers@gmail.com">contact.rjjewellers@gmail.com</a>
          </p>
          </li>
          <li class="item">
          <i class="fa fa-phone"></i>
          <p>Mobile / Watsapp – 9871333914, Landline – 0120-4290400</p>
          </li>
        </ul>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
        <div class="col-md-4 f-col">
          <div class="footer-static-block">
          <span class="opener plus"></span>
          <h3 class="title"><span></span>Why Buy</h3>
          <ul class="footer-block-contant link">
            <li><a href="diamond">Diamond</a></li>
            <li><a href="gold">Gold</a></li>
            <li><a>Kundan</a></li>
            <li><a>Polki</a></li>
          </ul>
          </div>
        </div>
        <div class="col-md-4 f-col">
          <div class="footer-static-block">
          <span class="opener plus"></span>
          <h3 class="title"><span></span>Quick Link</h3>
          <ul class="footer-block-contant link">
            <li><a href="/">Home</a></li>
            <li><a href="about">About Us</a></li>
            <li><a>Media</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
          </div>
        </div>
        <div class="col-md-4 f-col">
          <div class="footer-static-block">
          <span class="opener plus"></span>
          <h3 class="title"><span></span>Company Overview</h3>
          <div class="footer-block-contant">
          <p>We are the first 100% Hallmarked Jewellery Showroom in Greater Noida. Highly skilled craftsmen create our products along with stringent quality control measures which creates that perfection in the products we sell.</p>
          </div>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>
    <hr>
    <div class="footer-middle center-sm" >
      <div class="row">
      <div class="col-md-7">
        <div class="site-link mt-30 ">
        <div class="footer_social pt-xs-15 center-xs mt-xs-15">
        <ul class="social-icon">
          <li><a title="Facebook" class="facebook"><i class="fa fa-facebook"> </i></a></li>
          <li><a title="Twitter" class="twitter"><i class="fa fa-twitter"> </i></a></li>
          <li><a title="Linkedin" class="linkedin"><i class="fa fa-linkedin"> </i></a></li>
          <li><a title="RSS" class="rss"><i class="fa fa-rss"> </i></a></li>
          <li><a title="Pinterest" class="pinterest"><i class="fa fa-pinterest"> </i></a></li>
        </ul>
        </div>
        </div>
      </div>
      <div class="col-md-5 border-l">
        <div class="newsletter mtb-30">
        <div class="newsletter-inner">
          <div class="newsletter-title">
          <h3 class="title"><span></span>Subscribe Emails</h3>
          </div>
          <form>
          <div class="newsletter-box">
            <input type="email" placeholder="Email Here...">
            <button title="Subscribe" class="btn-color">Subscribe</button>
          </div>
          </form>
        </div>
        </div>
      </div>
      </div>
    </div>
    <hr>
    <div class="footer-bottom mtb-30">
      <div class="row">
      <div class="col-sm-12">
        <div class="copy-right align-center">© 2020  All Rights Reserved.</div>
      </div>
      </div>
    </div>
    </div>
  </div>
  </div>
  <div class="scroll-top">
  <div id="scrollup"></div>
  </div>
  <!-- FOOTER END --> 
</div>
<script src="{% static 'assets/js/jquery-1.12.3.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-ui.js' %}"></script>
<script src="{% static 'assets/js/fotorama.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>

</body>
</html>
