 
      		  <!-- FOOTER START -->
		  <div class="footer">
			<div class="container">
			  <div class="footer-inner">
				<div class="footer-top">
				  <div class="row">
					<div class="col-md-4 f-col">
					  <div class="footer-static-block">
						<span class="opener plus"></span>
						<div class="f-logo">
						  <a href="users/index.html" class="">
							<img src="assets/images/logo.png" width="145px" alt="Pioneer">
						  </a>
						</div>
						<ul class="footer-block-contant address-footer">
              <li class="item">
                <i class="fa fa-home"></i>
              <p>R J Jewellers, Shop No 56-57, Gurbaksh Plaza, Jagat Farm, Sector Gamma 1st, Greater Noida. U.P. 201310</p>
              </li>
              <li class="item">
              <i class="fa fa-envelope"></i>
              <p>
                <a>contact.rjjewellers@gmail.com</a>
              </p>
              </li>
              <li class="item">
              <i class="fa fa-phone"></i>
              <p>Mobile / Watsapp – 9871333914, Landline – 0120-4290400</p>
              </li>
            </ul>
					  </div>
					</div>
					<div class="col-md-8">
					  <div class="row">
						<div class="col-md-4 f-col">
						  <div class="footer-static-block">
							<span class="opener plus"></span>
							<h3 class="title"><span></span>Why Buy</h3>
							<ul class="footer-block-contant link">
							  <li><a>Diamond</a></li>
							  <li><a>Gold</a></li>
							  <li><a>Kundan</a></li>
							  <li><a>Polki</a></li>
							</ul>
						  </div>
						</div>
						<div class="col-md-4 f-col">
						  <div class="footer-static-block">
							<span class="opener plus"></span>
							<h3 class="title"><span></span>Quick Link</h3>
							<ul class="footer-block-contant link">
							  <li><a href="users/index.html">Home</a></li>
							  <li><a href="users/about.html">About Us</a></li>
							  <li><a>Media</a></li>
							  <li><a href="users/contact.html">Contact</a></li>
							</ul>
						  </div>
						</div>
						<div class="col-md-4 f-col">
						  <div class="footer-static-block">
							<span class="opener plus"></span>
							<h3 class="title"><span></span>Company Overview</h3>
							<div class="footer-block-contant">
						  <p>We are the first 100% Hallmarked Jewellery Showroom in Greater Noida. Highly skilled craftsmen create our products along with stringent quality control measures which creates that perfection in the products we sell.</p>
						  </div>
						  </div>
						</div>
					  </div>
					</div>
				  </div>
				</div>
				<hr>
				<div class="footer-middle center-sm" >
				  <div class="row">
					<div class="col-md-7">
					  <div class="site-link mt-30 ">
						<div class="footer_social pt-xs-15 center-xs mt-xs-15">
						<ul class="social-icon">
						  <li><a title="Facebook" class="facebook"><i class="fa fa-facebook"> </i></a></li>
						  <li><a title="Twitter" class="twitter"><i class="fa fa-twitter"> </i></a></li>
						  <li><a title="Linkedin" class="linkedin"><i class="fa fa-linkedin"> </i></a></li>
						  <li><a title="RSS" class="rss"><i class="fa fa-rss"> </i></a></li>
						  <li><a title="Pinterest" class="pinterest"><i class="fa fa-pinterest"> </i></a></li>
						</ul>
					  </div>
					  </div>
					</div>
					<div class="col-md-5 border-l">
					  <div class="newsletter mtb-30">
						<div class="newsletter-inner">
						  <div class="newsletter-title">
							<h3 class="title"><span></span>Subscribe Emails</h3>
						  </div>
						  <form>
							<div class="newsletter-box">
							  <input type="email" placeholder="Email Here...">
							  <button title="Subscribe" class="btn-color">Subscribe</button>
							</div>
						  </form>
						</div>
					  </div>
					</div>
				  </div>
				</div>
				<hr>
				<div class="footer-bottom mtb-30">
				  <div class="row">
					<div class="col-sm-12">
					  <div class="copy-right align-center">© 2020  All Rights Reserved.</div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  <div class="scroll-top">
			<div id="scrollup"></div>
		  </div>
		  <!-- FOOTER END --> 
		</div>
		<script src="assets/js/jquery-1.12.3.min.js"></script>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="assets/js/jquery-ui.js"></script>
		<script src="assets/js/fotorama.js"></script>
		<script src="assets/js/jquery.magnific-popup.js"></script>
		<script src="assets/js/owl.carousel.min.js"></script>
		<script src="assets/js/custom.js"></script>

		</body>
		
</html>
