 {% load static %}
 >
 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Gemstones</title>
   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">

    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/jquery-ui.css' %} " rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/owl.carousel.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/fotorama.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/images/favicon.png' %}" rel="stylesheet" type="text/css" />
   <style>
    .productNameH2 {
       letter-spacing: 1px;
       font-family: 'Gotham-Book';
       line-height: 1.4;
     
      text-align: center;
       color: #000;
       font-family: 'Gotham-Medium';
       font-size: 14px;
       text-transform: uppercase;
       margin-top: 10px;
       position: relative;
       font-style: normal;
       color: #000 !important;
       display: block;
    }
    .gemstones_img{width:100%}
    </style>
 </head>
 <body>
   <!-- BANNER STRAT -->
  <div class="banner inner-banner">
    <div class="container">
      <section class="banner-detail align-center">
          <h1 class="banner-title"><span>Genstones</span>- RJ Jewellers</h1>
      </section>
    </div>
  </div>
  <!-- BANNER END --> 

  <!-- Bread Crumb STRAT -->
  <div class="container">
    <div class="bread-crumb mtb-30 center-xs">
      <div class="page-title">Genstones</div>
      <div class="bread-crumb-inner right-side float-none-xs">
        <ul>
          <li><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
          <li><span>Genstones</span></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Bread Crumb END --> 
  
  <!-- CONTAIN START -->
  <section class="pb-95">
    <div class="container">
      <div class="row">        
        <div class="col-md-12">
          <div class="product-listing">
		  <div class="row mlr_-20">
              <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/Alexandrite_1.webp' %}" alt="Alexandrite" class="gemstones_img">
					<span class="productNameH2">Alexandrite</span>
                  </div>
                 </div>
               </div>
			   <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/Alexandrite-cat_s-eye.webp' %}" alt="Alexandrite Cats Eye" class="gemstones_img">
					<span class="productNameH2">Alexandrite Cats Eye</span>
                  </div>
                 </div>
               </div>
			   <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/Amber-1.webp' %}" alt="Amber" class="gemstones_img">
					<span class="productNameH2">Amber</span>
                  </div>
                 </div>
               </div>
			  <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/Amethyst-191204.webp' %}" alt="Amethyst" class="gemstones_img">
					<span class="productNameH2">Amethyst</span>
                  </div>
                 </div>
               </div>
			   </div>
			   <div class="row">
			   <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/Amethyst-Cabochon.webp' %}" alt="Amethyst Cabochon" class="gemstones_img">
					<span class="productNameH2">Amethyst Cabochon</span>
                  </div>
                 </div>
               </div>
			   <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/Ametrine-191204.webp' %}" alt="Ametrine" class="gemstones_img">
					<span class="productNameH2">Ametrine</span>
                  </div>
                 </div>
               </div>
			   <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/ammolite.webp' %}" alt="Ammolite" class="gemstones_img">
					<span class="productNameH2">Ammolite</span>
                  </div>
                 </div>
               </div>
			   <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/andesine_1.webp' %}" alt="Andesine" class="gemstones_img">
					<span class="productNameH2">Andesine</span>
                  </div>
                 </div>
               </div>
            </div>
            <div class="row mlr_-20">
              <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/apatite.webp' %}" alt="Apatite" class="gemstones_img">
					<span class="productNameH2">Apatite</span>
                  </div>
                 </div>
               </div>
			   <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/apatite-cats-eye.webp' %}" alt="Apatite Cats Eye" class="gemstones_img">
					<span class="productNameH2">Apatite Cats Eye</span>
                  </div>
                 </div>
               </div>
			   <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/aquamarine.webp' %}" alt="Aquamarine" class="gemstones_img">
					<span class="productNameH2">Aquamarine</span>
                  </div>
                 </div>
               </div>
			  <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/australian-opal.webp' %}" alt="Australian Opal" class="gemstones_img">
					<span class="productNameH2">Australian Opal</span>
                  </div>
                 </div>
               </div>
			   </div>
			   
			   <div class="row">
			   <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/Aventurine_1.webp' %}" alt="Aventurine" class="gemstones_img">
					<span class="productNameH2">Aventurine</span>
                  </div>
                 </div>
               </div>
			   <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/Azurite_1.webp' %}" alt="Azurite" class="gemstones_img">
					<span class="productNameH2">Azurite</span>
                  </div>
                 </div>
               </div>
			   <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/baltic-amber.webp' %}" alt="Baltic Amber" class="gemstones_img">
					<span class="productNameH2">Baltic Amber</span>
                  </div>
                 </div>
               </div>
			   <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/basra-pearl.webp' %}" alt="Basra Pearl" class="gemstones_img">
					<span class="productNameH2">Basra Pearl</span>
                  </div>
                 </div>
               </div>
            </div>
			<div class="row mlr_-20">
              <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/beryl.webp' %}" alt="Bery" class="gemstones_img">
					<span class="productNameH2">Bery</span>
                  </div>
                 </div>
               </div>
			   <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/bi-color-sapphire.webp' %}" alt="Bi Color Sapphire" class="gemstones_img">
					<span class="productNameH2">Bi Color Sapphire</span>
                  </div>
                 </div>
               </div>
			   <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/Bixbite.webp' %}" alt="Bixbite" class="gemstones_img">
					<span class="productNameH2">Bixbite</span>
                  </div>
                 </div>
               </div>
			  <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/black-onyx_1.webp' %}" alt="Black Onyx" class="gemstones_img">
					<span class="productNameH2">Black Onyx</span>
                  </div>
                 </div>
               </div>
			   </div>
			   <div class="row">
			   <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/black-opal.webp' %}" alt="Black Opal" class="gemstones_img">
					<span class="productNameH2">Black Opal</span>
                  </div>
                 </div>
               </div>
			   <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/black-pearl.webp'%}" alt="Black Pearl" class="gemstones_img">
					<span class="productNameH2">Black Pearl</span>
                  </div>
                 </div>
               </div>
			   <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/Black-tourmaline.webp' %}" alt="Black Tourmaline" class="gemstones_img">
					<span class="productNameH2">Black Tourmaline</span>
                  </div>
                 </div>
               </div>
			   <div class="col-md-3">
                <div class="product-item">
                  <div>
                      <img src="{% static 'assets/images/gemstones/blood-stone.webp' %} " alt="Blood Stone" class="gemstones_img">
					<span class="productNameH2">Blood Stone</span>
                  </div>
                 </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- CONTAINER END --> 

  <?php include_once('footer.php');?>
 </body>
 </html>


  