{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coins</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/jquery-ui.css' %} " rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/fotorama.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/gifts.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/changes.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/images/favicon.png' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <header class="navbar navbar-custom" id="header">
        <div class="header-middle">
            <div class="container">
                <div class="header-inner">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="navbar-header float-none-sm">
                                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle"
                                    type="button"><i class="fa fa-bars"></i></button>
                                <a class="navbar-brand page-scroll" href="/">
                                    <img class="logo" src="{% static 'assets/images/logo.png' %}">
                                </a>
                            </div>
                        </div>
                        <!--PayUMOneyCOde-->
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div id="menu" class="navbar-collapse collapse left-side">
                    <ul class="nav navbar-nav navbar-left">
                        <li class="level"><a href="/" class="page-scroll">Home</a></li>
                        <li class="level"><a href="about" class="page-scroll">About Us</a></li>
                        <li class="level">
                            <span class="opener plus"></span>
                            <a href="jewellery" class="page-scroll">Jewellery</a>
                            <div class="megamenu mobile-sub-menu">
                                <div class="megamenu-inner-top">
                                    <ul class="sub-menu-level1">
                                        <li class="level2">
                                            <ul class="sub-menu-level2 ">
                                                <li class="level3"><a href="gold">Gold</a></li>
                                                <li class="level3"><a href="diamond">Diamond</a></li>
                                                <li class="level3"><a href="javascript:void(0);">Solitaire</a></li>
                                                <li class="level3"><a href="platinum">Platinum</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="level"><a href="coins" class="page-scroll">Coins</a></li>
                        <li class="level"><a href="gemstones" class="page-scroll">Gemstones</a></li>
                        <li class="level"><a href="gifts" class="page-scroll">Corporate Gifts</a></li>
                        <li class="level">
                            <a href="https://www.payumoney.com/paybypayumoney/#/88EB317649315EA26D714337FF19083F"
                                class="page-scroll">Payment</a></li>
                        <li class="level"><a href="contact" class="page-scroll">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
            <!-- BANNER STRAT -->
            <div class="banner inner-banner">
                <div class="container">
                    <section class="banner-detail align-center">
                        <h1 class="banner-title"><span> GIFTS </span>RJ Jewels</h1>
                    </section>
                </div>
            </div>
    
    <!-- Gift Grid-->
    <div class="cointainer" >
        <div class="row" >

            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/1.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 3025</a>
                    </div>
                    <div class="giftdesc">
                        <a>Silver Coco Rectangle Box</a>
                    </div>
                </div>
            </div>


            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/2.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 3300</a>
                    </div>
                    <div class="giftdesc">
                        <a>Gold Coco Rectangle Box</a>
                    </div>
                </div>
            </div>



            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/3.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 3300</a>
                    </div>
                    <div class="giftdesc">
                        <a>Rose Gold Coco Rectangle Box</a>
                    </div>
                </div>
            </div>


            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/4.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 999</a>
                    </div>
                    <div class="giftdesc">
                        <a>This is product 1</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/5.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 4125</a>
                    </div>
                    <div class="giftdesc">
                        <a>Silver Treasure Box for wedding</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/6.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 4400</a>
                    </div>
                    <div class="giftdesc">
                        <a>Gold Treasure Box</a>
                    </div>
                </div>
            </div>

            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/7.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 4400</a>
                    </div>
                    <div class="giftdesc">
                        <a>Rose Gold Treasure Box</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/8.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 4400</a>
                    </div>
                    <div class="giftdesc">
                        <a>Hexagonal Try with handle 7 feet</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/9.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 3850</a>
                    </div>
                    <div class="giftdesc">
                        <a>Square Trtay with Bead Feet (S)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/10.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 6050</a>
                    </div>
                    <div class="giftdesc">
                        <a>Square Tray with Bead Feet(L)</a>
                    </div>
                </div>
            </div>


            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/11.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1980</a>
                    </div>
                    <div class="giftdesc">
                        <a>Rectangel EnamelTray(S)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/12.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 2365</a>
                    </div>
                    <div class="giftdesc">
                        <a>Rectangel Enamel Tray(L)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/13.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 8800</a>
                    </div>
                    <div class="giftdesc">
                        <a>Family of 3 Servers</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/14.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 6050</a>
                    </div>
                    <div class="giftdesc">
                        <a>Sets of 2Servers (Big)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/15.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1815</a>
                    </div>
                    <div class="giftdesc">
                        <a>Sugar Pot (Golden)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/16.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1155</a>
                    </div>
                    <div class="giftdesc">
                        <a>Silver Leaf Platter</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/17.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1350</a>
                    </div>
                    <div class="giftdesc">
                        <a>Golden LEaf Platter</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/18.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1100</a>
                    </div>
                    <div class="giftdesc">
                        <a>Set of 2 Cups (Silver)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/19.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1210</a>
                    </div>
                    <div class="giftdesc">
                        <a>Sets of 2 Cups (Golden)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/20.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1650</a>
                    </div>
                    <div class="giftdesc">
                        <a>Golden Round Tray (8 inch)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/21.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1980</a>
                    </div>
                    <div class="giftdesc">
                        <a>Golden Round Tray (10 inch)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/22.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1650</a>
                    </div>
                    <div class="giftdesc">
                        <a>Golden Square TRay (8 inch)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/23.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1980</a>
                    </div>
                    <div class="giftdesc">
                        <a>Golden Square Tray (10 inch)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/24.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 2475</a>
                    </div>
                    <div class="giftdesc">
                        <a>Golden Square Tray (12 inch)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/25.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1980</a>
                    </div>
                    <div class="giftdesc">
                        <a>Oval Shape Platter (Golden)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/26.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1540</a>
                    </div>
                    <div class="giftdesc">
                        <a>Basket with Glass Bowl (Luxury Box Packing)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/27.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1980</a>
                    </div>
                    <div class="giftdesc">
                        <a>Cream Enamel Basket</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/28.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1980</a>
                    </div>
                    <div class="giftdesc">
                        <a>Pierced Jewellery Box</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/29.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 4400</a>
                    </div>
                    <div class="giftdesc">
                        <a>Designer Fruit Platter</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/30.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 4400</a>
                    </div>
                    <div class="giftdesc">
                        <a>Designer Dry Fruit Platter</a>
                    </div>
                </div>
            </div>


            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/31.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 3300</a>
                    </div>
                    <div class="giftdesc">
                        <a>Designer Round Bowl</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/32.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 16500</a>
                    </div>
                    <div class="giftdesc">
                        <a>Thall withh 6 Katori</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/33.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 9295</a>
                    </div>
                    <div class="giftdesc">
                        <a>Shimmer Candle Stand</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/34.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 7150</a>
                    </div>
                    <div class="giftdesc">
                        <a>Set of 2 Gold Glasses</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/35.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 21450</a>
                    </div>
                    <div class="giftdesc">
                        <a>Set of 6 Gold Glasses</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/36.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 7150</a>
                    </div>
                    <div class="giftdesc">
                        <a>Set of 2 Tumbler Gold Glasses</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/37.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 21450</a>
                    </div>
                    <div class="giftdesc">
                        <a>Set of 6 Tumbler Gold Glasses</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/38.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 7150</a>
                    </div>
                    <div class="giftdesc">
                        <a>Set of 2 Platinum Gold Glasses</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/39.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 5500</a>
                    </div>
                    <div class="giftdesc">
                        <a>This is product 1</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/40.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 3850</a>
                    </div>
                    <div class="giftdesc">
                        <a>Small Ganesha White+Matt (H-10cm)</a>
                    </div>
                </div>
            </div>



            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/41.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 3850</a>
                    </div>
                    <div class="giftdesc">
                        <a>Small Ganesha Colored</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/42.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 3850</a>
                    </div>
                    <div class="giftdesc">
                        <a>Small Ganesha Gloss+Color (H-10 cm)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/43.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 3850</a>
                    </div>
                    <div class="giftdesc">
                        <a>Small Ganesha Gloss+Matt (H-10 cm)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/44.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 13750</a>
                    </div>
                    <div class="giftdesc">
                        <a>Puja Thali (Gansha + tea light + 2 katori + aggarbati stand)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/45.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 999</a>
                    </div>
                    <div class="giftdesc">
                        <a>This is product 1</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/46.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 999</a>
                    </div>
                    <div class="giftdesc">
                        <a>This is product 1</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/47.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 2475</a>
                    </div>
                    <div class="giftdesc">
                        <a>2 in 1 Golden DryFruit Box</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/48.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Price on request</a>
                    </div>
                    <div class="giftdesc">
                        <a>Color Boxes All 3</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/49.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Price on request</a>
                    </div>
                    <div class="giftdesc">
                        <a>Rose Gold Boxes 3 sizes</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/50.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 999</a>
                    </div>
                    <div class="giftdesc">
                        <a>This is product 1</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/51.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1650</a>
                    </div>
                    <div class="giftdesc">
                        <a>Pearl Jewellery Box (S)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/52.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 2750</a>
                    </div>
                    <div class="giftdesc">
                        <a>Pearl Jewellery Box (M)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/53.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 3300</a>
                    </div>
                    <div class="giftdesc">
                        <a>Luxury Photo Frame (Black)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/54.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 3300</a>
                    </div>
                    <div class="giftdesc">
                        <a>Luxury Photo Frame (White)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/55.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1375</a>
                    </div>
                    <div class="giftdesc">
                        <a>Silver Photoframe</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/56.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1925</a>
                    </div>
                    <div class="giftdesc">
                        <a>Silver Photoframe (M)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/57.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1265</a>
                    </div>
                    <div class="giftdesc">
                        <a>Silver Jewellery Box( Square Shape)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/58.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1045</a>
                    </div>
                    <div class="giftdesc">
                        <a>Silver Jewellery Box (Heart Shape)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/59.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 935</a>
                    </div>
                    <div class="giftdesc">
                        <a>Silver Jewellery Box (Round Shape)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/60.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1000</a>
                    </div>
                    <div class="giftdesc">
                        <a>Rose Gold Jewellery Box (Round Shape)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/61.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1540</a>
                    </div>
                    <div class="giftdesc">
                        <a>Rose Gold Jewellery Box (Square Shape)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/62.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 1650</a>
                    </div>
                    <div class="giftdesc">
                        <a>Ring Box</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/63.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 8250</a>
                    </div>
                    <div class="giftdesc">
                        <a>Heart Rectangle wedding box w/0 partition</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/64.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 4345</a>
                    </div>
                    <div class="giftdesc">
                        <a>Whiskey Crystal Pair (set of 2)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/65.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 10450</a>
                    </div>
                    <div class="giftdesc">
                        <a>Champagne Crystal Collection (set of 6)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/66.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 6600</a>
                    </div>
                    <div class="giftdesc">
                        <a>Crystal Shooter with Golden Lining (Set of 6)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/67.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 5500</a>
                    </div>
                    <div class="giftdesc">
                        <a>Crystal Shooter with Silver Lining (Set of 6)</a>
                    </div>
                </div>
            </div>




            <div class="col-sm-2" id="gift">
                <div class="giftproduct">
                    <div class="giftimage">
                        <img src="{% static 'assets/images/gifts/68.jpg' %}">
                    </div>
                    <div class="giftprice">
                        <a>Rs 3850</a>
                    </div>
                    <div class="giftdesc">
                        <a>Champagne Crystal Pair(Set of 2)</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>

</html>