{% load static %}
<!DOCTYPE html>
		<html lang="en">
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
		
<head>
		<!-- Basic Page Needs
		  ================================================== -->
		<meta charset="utf-8">
		<title>RJ Jewellers</title>
		<!-- SEO Meta
		  ================================================== -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="description" content="">
		<meta name="keywords" content="">

		<!-- Mobile Specific Metas
		  ================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<!-- CSS
		  ================================================== -->
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome1.min.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Acme&amp;display=swap" rel="stylesheet">

    <link href="{% static 'assets/css/font-awesome.min.css ' %}'" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/jquery-ui.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/owl.carousel.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/fotorama.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/custom.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/images/favicon.png' %}" rel="stylesheet" type="text/css" />
	
		
		</head>
		<body>
		
		<div class="main"> 
		  <!-- HEADER START -->
		  <header class="navbar navbar-custom" id="header">
			<div class="header-middle">
			  <div class="container">
				<div class="header-inner">
				  <div class="row">
				   <div class="col-md-4" id="payment_btn" style="text-align: center;">
				   <div class="footer_social pt-xs-15 center-xs mt-xs-15">
						<ul class="social-icon">
						  <li><a title="Facebook" class="facebook"><i class="fa fa-facebook"> </i></a></li>
						  <li><a title="Twitter" class="twitter"><i class="fa fa-twitter"> </i></a></li>
						  <li><a title="Linkedin" class="linkedin"><i class="fa fa-linkedin"> </i></a></li>
						  <li><a title="RSS" class="rss"><i class="fa fa-instagram"> </i></a></li>
						</ul>
					  </div>
				  </div>
					<div class="col-md-4">
					  <div class="navbar-header float-none-sm">
						<button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button"><i class="fa fa-bars"></i></button>
						<a class="navbar-brand page-scroll" href="/">
						  <img class="logo" src="{% static 'assets/images/logo.png' %}" >
						</a> 
					  </div>
					</div>
					 <div class="col-md-4" id="payment_btn" style="text-align: center;">
					<div class="footer_social">
						<ul class="social-icon">
						  <li><a title="Phone Number" id="contact" style="font-size: 19px; color: #fff;"><i class="fa fa-phone"> </i> 9871333914</a></li>
						  
						</ul>
					  </div>
				  </div>
				  </div>
				</div>
			  </div>
			</div>
			<div class="header-bottom">
			  <div class="container">
				<div id="menu" class="navbar-collapse collapse left-side" >
			   
				  <ul class="nav navbar-nav navbar-left">
					<li class="level"><a href="/" class="page-scroll">Home</a></li>
					<li class="level">
					  <span class="opener plus"></span>
					  <a href="javascript:void(0);" class="page-scroll">Jewellery</a>
					  <div class="megamenu mobile-sub-menu">
                          <div class="megamenu-inner-top">
                            <ul class="sub-menu-level1">
                              <li class="level2">
                                  <ul class="sub-menu-level2 ">
                                   <li class="level3"><a href="javascript:void(0);">Gold</a></li>
								  <li class="level3"><a href="javascript:void(0);">Diamond</a></li>
								  <li class="level3"><a href="javascript:void(0);">Solitaire / Platinum</a></li>
                                  </ul>
                               </li>
                            </ul>
                          </div>
                     </div>  
					  
					</li>
					<li class="level"><a href="javascript:void(0);" class="page-scroll">Coins</a></li>
					<li class="level"><a href="gemstones.php" class="page-scroll">Gemstones</a></li>
					<li class="level"><a href="javascript:void(0);" class="page-scroll">Corporate Gifts</a></li>
					<li class="level"><a target="_blank" href="https://www.payumoney.com/paybypayumoney/#/88EB317649315EA26D714337FF19083F" class="page-scroll">Payment</a></li>
					<li class="level"><a href="about.php" class="page-scroll">About Us</a></li>			
					<li class="level"><a href="contact.php" class="page-scroll">Contact Us</a></li>
				  </ul>
				  
				</div>
			  </div>
			</div>
		  </header>
		  <!-- HEADER END --> 